body{
    background: #ffffff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #757F9A, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #757F9A, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title{
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    text-align: left;
}