<div class="container mt-5">
    <!--Creation Navbar in list member-->
    <app-navbar ></app-navbar>
    <div class="col-lg-4 offset-lg-4" > 
        <!--Houses that were found are listed-->       
        <div class="row mt-4">
            <div class="col-lg-12">
                <h5 class="title mt-3">list House</h5>             
               <span>SelectHouse*</span>
                <select name="miselect" [(ngModel)]="selectHouse" class=" form-select-lg  col-lg-12">
                    <option>{{selectHouse}}</option>
                    <option [value]="item" *ngFor="let item of listHouse" [ngValue]="item">
                      {{item}}</option>
                    </select>
                    <div class="text-center mt-1" *ngIf="selectNotHouse"> 
                        <span class="badge bg-danger text-center">select a house</span>
                    </div>
                    <div>
                        <button (click)="getAllListMemberHouse()" type="button" class="form-control btn btn-secondary btn-xs mt-4">SearchMemberHouse</button>
                    </div>
            </div> 
        </div>
        <!--Create in loading.....-->
       <app-spinner *ngIf="loading"></app-spinner>
    </div>
    
</div>
